# # # # # # # # # # # # # # # # # #
# GitLab application config file  #
# # # # # # # # # # # # # # # # # #
#
###########################  NOTE  #####################################
# This file should not receive new settings. All configuration options #
# * are being moved to ApplicationSetting model!                       #
# If a setting requires an application restart say so in that screen.  #
# If you change this file in a Merge Request, please also create       #
# a MR on https://gitlab.com/gitlab-org/omnibus-gitlab/merge_requests  #
########################################################################
#
#
# How to use:
# 1. Copy file as gitlab.yml
# 2. Update gitlab -> host with your fully qualified domain name
# 3. Update gitlab -> email_from
# 4. If you installed Git from source, change git -> bin_path to /usr/local/bin/git
#    IMPORTANT: If Git was installed in a different location use that instead.
#    You can check with `which git`. If a wrong path of Git is specified, it will
#     result in various issues such as failures of GitLab CI builds.
# 5. Review this configuration file for other settings you may want to adjust

production: &base
  #
  # 1. GitLab app settings
  # ==========================

  ## GitLab settings
  gitlab:
    ## Web server settings (note: host is the FQDN, do not include http://)
    host: {{gitlab_host}}
    port: {{gitlab_port}} # Set to 443 if using HTTPS, see installation.md#using-https for additional HTTPS configuration details
    https: {{gitlab_https}} # Set to true if using HTTPS, see installation.md#using-https for additional HTTPS configuration details

    # Uncommment this line below if your ssh host is different from HTTP/HTTPS one
    # (you'd obviously need to replace ssh.host_example.com with your own host).
    # Otherwise, ssh host will be set to the `host:` value above
    # ssh_host: ssh.host_example.com
    {% if gitlab_ssh_host is defined %}
    ssh_host: {{gitlab_ssh_host}}
    {% endif %}

    # Relative URL support
    # WARNING: We recommend using an FQDN to host GitLab in a root path instead
    # of using a relative URL.
    # Documentation: http://doc.gitlab.com/ce/install/relative_url.html
    # Uncomment and customize the following line to run in a non-root path
    #
    # relative_url_root: /gitlab
    {% if gitlab_relative_url_root is defined %}
    relative_url_root: {{gitlab_relative_url_root}}
    {% endif %}
    # Trusted Proxies
    # Customize if you have GitLab behind a reverse proxy which is running on a different machine.
    # Add the IP address for your reverse proxy to the list, otherwise users will appear signed in from that address.
    trusted_proxies:
    {% if gitlab_trusted_proxies is defined %}
    {% for trusted_proxie_opt in gitlab_trusted_proxies %}
      - {{trusted_proxie_opt}}
    {% endfor %}
    {% endif %}

      # Examples:
      #- 192.168.1.0/24
      #- 192.168.2.1
      #- 2001:0db8::/32

    # Uncomment and customize if you can't use the default user to run GitLab (default: 'git')
    # user: git
    {% if gitlab_user is defined %}
    user: {{gitlab_user}}
    {% endif %}

    ## Date & Time settings
    # Uncomment and customize if you want to change the default time zone of GitLab application.
    # To see all available zones, run `bundle exec rake time:zones:all RAILS_ENV=production`
    # time_zone: 'UTC'
    {% if gitlab_time_zone is defined %}
    time_zone: {{gitlab_time_zone}}
    {% endif %}

    ## Email settings
    # Uncomment and set to false if you need to disable email sending from GitLab (default: true)
    # email_enabled: true
    # Email address used in the "From" field in mails sent by GitLab
    email_from: {{gitlab_email_from | mandatory}}
    email_display_name: {{gitlab_display_name }}
    email_reply_to: {{ gitlab_email_reply_to}}
    email_subject_suffix: {{ gitlab_email_subject_suffix }}

    # Email server smtp settings are in config/initializers/smtp_settings.rb.sample
    default_can_create_group: {{ gitlab_default_can_create_group }}
    username_changing_enabled: {{ gitlab_username_changing_enabled }}
    # default_can_create_group: false  # default: true
    # username_changing_enabled: false # default: true - User can change her username/namespace

    ## Automatic issue closing
    # If a commit message matches this regular expression, all issues referenced from the matched text will be closed.
    # This happens when the commit is pushed or merged into the default branch of a project.
    # When not specified the default issue_closing_pattern as specified below will be used.
    # Tip: you can test your closing pattern at http://rubular.com.
    # issue_closing_pattern: '((?:[Cc]los(?:e[sd]?|ing)|[Ff]ix(?:e[sd]|ing)?|[Rr]esolv(?:e[sd]?|ing))(:?) +(?:(?:issues? +)?%{issue_ref}(?:(?:, *| +and +)?)|([A-Z][A-Z0-9_]+-\d+))+)'
    issue_closing_pattern: {{ gitlab_issue_closing_pattern }}
    ## Default project features settings
    default_projects_features:
      issues: {{ gitlab_default_projects_features_issues }}
      merge_requests: {{ gitlab_default_projects_features_merge_requests }}
      wiki: {{ gitlab_default_projects_features_wiki }}
      snippets: {{ gitlab_default_projects_features_snippets }}
      builds: {{ gitlab_default_projects_features_builds }}
      container_registry: {{ gitlab_default_projects_features_container_registry }}

    ## Webhook settings
    # Number of seconds to wait for HTTP response after sending webhook HTTP POST request (default: 10)
    webhook_timeout: {{ gitlab_webhook_timeout }}

    ## Repository downloads directory
    # When a user clicks e.g. 'Download zip' on a project, a temporary zip file is created in the following directory.
    # The default is 'shared/cache/archive/' relative to the root of the Rails app.
    # repository_downloads_path: shared/cache/archive/
    repository_downloads_path: {{gitlab_repository_downloads_path}}
  ## Reply by email
  # Allow users to comment on issues and merge requests by replying to notification emails.
  # For documentation on how to set this up, see http://doc.gitlab.com/ce/administration/reply_by_email.html
  incoming_email:
    enabled: {{gitlab_incoming_email_enabled}}

    # The email address including the `%{key}` placeholder that will be replaced to reference the item being replied to.
    # The placeholder can be omitted but if present, it must appear in the "user" part of the address (before the `@`).
    address: {{gitlab_incoming_email_address}}

    # Email account username
    # With third party providers, this is usually the full email address.
    # With self-hosted email servers, this is usually the user part of the email address.
    user: {{ gitlab_incoming_email_user }}
    # Email account password
    password: {{gitlab_incoming_email_password }}

    # IMAP server host
    host: {{gitlab_incoming_email_host}}
    # IMAP server port
    port: {{gitlab_incoming_email_port}}
    # Whether the IMAP server uses SSL
    ssl: {{gitlab_incoming_email_ssl}}
    # Whether the IMAP server uses StartTLS
    start_tls: {{gitlab_incoming_email_start_tls}}

    # The mailbox where incoming mail will end up. Usually "inbox".
    mailbox: {{gitlab_incoming_email_mailbox}}
    # The IDLE command timeout.
    idle_timeout: {{gitlab_incoming_email_idle_timeout}}

  ## Build Artifacts
  artifacts:
    enabled: {{ gitlab_artifacts_enabled }}
    # The location where build artifacts are stored (default: shared/artifacts).
    path: {{gitlab_artifacts_path}}
    object_store:
      enabled: {{gitlab_artifacts_object_store_enabled}}
      remote_directory: {{gitlab_artifacts_object_store_remote_directory}}# The bucket name
      connection:
        provider: {{gitlab_artifacts_object_store_connection_provider}} # Only AWS supported at the moment
        aws_access_key_id: {{gitlab_artifacts_object_store_connection_aws_access_key_id}}
        aws_secret_access_key: {{gitlab_artifacts_object_store_connection_aws_secret_access_key}}
        region: {{gitlab_artifacts_object_store_connection_region}}

  ## Git LFS
  lfs:
    enabled: {{gitlab_lfs_enabled}}
    # The location where LFS objects are stored (default: shared/lfs-objects).
    storage_path: {{gitlab_lfs_storage_path}}

  ## GitLab Pages
  pages:
    enabled: {{gitlab_pages_enabled}}
    # The location where pages are stored (default: shared/pages).
    path: {{gitlab_pages_path}}

    # The domain under which the pages are served:
    # http://group.example.com/project
    # or project path can be a group page: group.example.com
    host: {{gitlab_pages_host}}
    port: {{gitlab_pages_port}} # Set to 443 if you serve the pages with HTTPS
    https: {{gitlab_pages_https}} # Set to true if you serve the pages with HTTPS
    {% if gitlab_pages_external_http is defined%}
    external_http: {{gitlab_pages_external_http}}
    {% endif %}
    {% if gitlab_pages_external_https is defined%}
    external_https: {{gitlab_pages_external_https}}
    {% endif %}
    # external_http: ["1.1.1.1:80", "[2001::1]:80"] # If defined, enables custom domain support in GitLab Pages
    # external_https: ["1.1.1.1:443", "[2001::1]:443"] # If defined, enables custom domain and certificate support in GitLab Pages

  ## Mattermost
  ## For enabling Add to Mattermost button
  mattermost:
    enabled: {{gitlab_mattermost_enabled}}
    host: {{gitlab_mattermost_host}}

  ## Gravatar
  ## For Libravatar see: http://doc.gitlab.com/ce/customization/libravatar.html
  gravatar:
    # gravatar urls: possible placeholders: %{hash} %{size} %{email} %{username}
    # plain_url: "http://..."     # default: http://www.gravatar.com/avatar/%{hash}?s=%{size}&d=identicon
    # ssl_url:   "https://..."    # default: https://secure.gravatar.com/avatar/%{hash}?s=%{size}&d=identicon

  ## Auxiliary jobs
  # Periodically executed jobs, to self-heal GitLab, do external synchronizations, etc.
  # Please read here for more information: https://github.com/ondrejbartas/sidekiq-cron#adding-cron-job
  cron_jobs:
    # Flag stuck CI jobs as failed
    stuck_ci_jobs_worker:
      cron: "{{gitlab_cron_jobs_stuck_ci_jobs_worker_cron}}"
    # Execute scheduled triggers
    pipeline_schedule_worker:
      cron: "{{gitlab_cron_jobs_pipeline_schedule_worker_cron}}"
    # Remove expired build artifacts
    expire_build_artifacts_worker:
      cron: {{gitlab_cron_jobs_expire_build_artifacts_worker_cron}}
    # Periodically run 'git fsck' on all repositories. If started more than
    # once per hour you will have concurrent 'git fsck' jobs.
    repository_check_worker:
      cron: "{{gitlab_cron_jobs_repository_check_worker_cron}}"
    # Send admin emails once a week
    admin_email_worker:
      cron: "{{gitlab_cron_jobs_admin_email_worker_cron}}"

    # Remove outdated repository archives
    repository_archive_cache_worker:
      cron: "{{gitlab_cron_jobs_repository_archive_cache_worker_cron}}"

    ##
    # GitLab EE only jobs:

    # Snapshot active users statistics
    historical_data_worker:
      cron: "{{gitlab_cron_jobs_historical_data_worker_cron}}"

    # In addition to refreshing users when they log in,
    # periodically refresh LDAP users membership.
    # NOTE: This will only take effect if LDAP is enabled
    ldap_sync_worker:
      cron: "{{gitlab_cron_jobs_ldap_sync_worker_cron}}"

    # GitLab Geo repository sync worker
    # NOTE: This will only take effect if Geo is enabled
    geo_repository_sync_worker:
      cron: "{{gitlab_cron_jobs_geo_repository_sync_worker_cron}}"

    # GitLab Geo file download dispatch worker
    # NOTE: This will only take effect if Geo is enabled
    geo_file_download_dispatch_worker:
      cron: "{{gitlab_cron_jobs_geo_file_download_dispatch_worker_cron}}"

  registry:
    {% if gitlab_registry_enabled %}
    enabled: {{gitlab_registry_enabled}}
    host: {{ gitlab_registry_host }}
    port: {{gitlab_registry_port}}
    api_url: {{gitlab_registry_api_url}}
    key: {{gitlab_registry_key}}
    path: {{gitlab_registry_path}}
    issuer: {{gitlab_registry_issuer}}
    {% endif %}
    # enabled: true
    # host: registry.example.com
    # port: 5005
    # api_url: http://localhost:5000/ # internal address to the registry, will be used by GitLab to directly communicate with API
    # key: config/registry.key
    # path: shared/registry
    # issuer: gitlab-issuer

  #
  # 2. GitLab CI settings
  # ==========================

  gitlab_ci:
    # Default project notifications settings:
    #
    # Send emails only on broken builds (default: true)
    all_broken_builds: {{gitlab_gitlab_ci_all_broken_builds}}
    #
    # Add pusher to recipients list (default: false)
    add_pusher: {{gitlab_gitlab_ci_add_pusher}}

    # The location where build traces are stored (default: builds/). Relative paths are relative to Rails.root
    builds_path: {{gitlab_gitlab_ci_builds_path}}

  #
  # 3. Auth settings
  # ==========================

  ## LDAP settings
  # You can test connections and inspect a sample of the LDAP users with login
  # access by running:
  #   bundle exec rake gitlab:ldap:check RAILS_ENV=production
  ldap:
    enabled: {{gitlab_ldap_enabled}}

    # This setting controls the number of seconds between LDAP permission checks
    # for each user. After this time has expired for a given user, their next
    # interaction with GitLab (a click in the web UI, a git pull, etc.) will be
    # slower because the LDAP permission check is being performed. How much
    # slower depends on your LDAP setup, but it is not uncommon for this check
    # to add seconds of waiting time. The default value is to have a "slow
    # click" once every 3600 seconds (i.e., once per hour).
    #
    # Warning: if you set this value too low, every click in GitLab will be a
    # "slow click" for all of your LDAP users.
    sync_time: {{gitlab_ldap_sync_time}}
    {% if gitlab_ldap_servers is defined -%}
    servers:
      {{ gitlab_ldap_servers | to_yaml(indent=2) | indent(6,false)}}
    {% endif %}


  ## Kerberos settings
  kerberos:
    # Allow the HTTP Negotiate authentication method for Git clients
    enabled: {{gitlab_kerberos_enabled}}

    # Kerberos 5 keytab file. The keytab file must be readable by the GitLab user,
    # and should be different from other keytabs in the system.
    # (default: use default keytab from Krb5 config)
    {% if gitlab_kerberos_keytab is defined %}
    keytab: {{gitlab_kerberos_keytab}}
    {% endif %}
    # keytab: /etc/http.keytab

    # The Kerberos service name to be used by GitLab.
    # (default: accept any service name in keytab file)
    {% if gitlab_kerberos_service_principal_name is defined %}
    service_principal_name: {{gitlab_kerberos_service_principal_name}}
    {% endif %}
    # service_principal_name: HTTP/gitlab.example.com@EXAMPLE.COM

    # Dedicated port: Git before 2.4 does not fall back to Basic authentication if Negotiate fails.
    # To support both Basic and Negotiate methods with older versions of Git, configure
    # nginx to proxy GitLab on an extra port (e.g. 8443) and uncomment the following lines
    # to dedicate this port to Kerberos authentication. (default: false)
    use_dedicated_port: {{gitlab_kerberos_use_dedicated_port}}
    port: {{gitlab_kerberos_port}}
    https: {{gitlab_kerberos_https}}
    # use_dedicated_port: true
    # port: 8443
    # https: true

  ## OmniAuth settings
  omniauth:
    # Allow login via Twitter, Google, etc. using OmniAuth providers
    enabled: {{gitlab_omniauth_enabled}}
    {% if gitlab_omniauth_enabled %}
    # Uncomment this to automatically sign in with a specific omniauth provider's without
    # showing GitLab's sign-in page (default: show the GitLab sign-in page)
    {% if gitlab_omniauth_auto_sign_in_with_provider is defined%}
    auto_sign_in_with_provider: {{gitlab_omniauth_auto_sign_in_with_provider}}
    {% endif %}
    #

    # Sync user's email address from the specified Omniauth provider every time the user logs
    # in (default: nil). And consequently make this field read-only.
    {% if gitlab_omniauth_sync_email_from_provider is defined%}
    sync_email_from_provider: {{gitlab_omniauth_sync_email_from_provider}}
    {% endif %}


    # CAUTION!
    # This allows users to login without having a user account first. Define the allowed providers
    # using an array, e.g. ["saml", "twitter"], or as true/false to allow all providers or none.
    # User accounts will be created automatically when authentication was successful.
    allow_single_sign_on: {{gitlab_omniauth_allow_single_sign_on}}

    # Locks down those users until they have been cleared by the admin (default: true).
    block_auto_created_users: {{gitlab_omniauth_block_auto_created_users}}
    # Look up new users in LDAP servers. If a match is found (same uid), automatically
    # link the omniauth identity with the LDAP account. (default: false)
    auto_link_ldap_user: {{gitlab_omniauth_auto_link_ldap_user}}

    # Allow users with existing accounts to login and auto link their account via SAML
    # login, without having to do a manual login first and manually add SAML
    # (default: false)
    auto_link_saml_user: {{gitlab_omniauth_auto_link_saml_user}}

    # Set different Omniauth providers as external so that all users creating accounts
    # via these providers will not be able to have access to internal projects. You
    # will need to use the full name of the provider, like `google_oauth2` for Google.
    # Refer to the examples below for the full names of the supported providers.
    # (default: [])
    external_providers: {{gitlab_omniauth_external_providers | to_nice_yaml}}

    ## Auth providers
    # Uncomment the following lines and fill in the data of the auth provider you want to use
    # If your favorite auth provider is not listed you can use others:
    # see https://github.com/gitlabhq/gitlab-public-wiki/wiki/Custom-omniauth-provider-configurations
    # The 'app_id' and 'app_secret' parameters are always passed as the first two
    # arguments, followed by optional 'args' which can be either a hash or an array.
    # Documentation for this is available at http://doc.gitlab.com/ce/integration/omniauth.html
    providers: {{gitlab_omniauth_providers}}
      # See omniauth-cas3 for more configuration details
      # - { name: 'cas3',
      #     label: 'cas3',
      #     args: {
      #             url: 'https://sso.example.com',
      #             disable_ssl_verification: false,
      #             login_url: '/cas/login',
      #             service_validate_url: '/cas/p3/serviceValidate',
      #             logout_url: '/cas/logout'} }
      # - { name: 'authentiq',
      #     # for client credentials (client ID and secret), go to https://www.authentiq.com/developers
      #     app_id: 'YOUR_CLIENT_ID',
      #     app_secret: 'YOUR_CLIENT_SECRET',
      #     args: {
      #             scope: 'aq:name email~rs address aq:push'
      #             # callback_url parameter is optional except when 'gitlab.host' in this file is set to 'localhost'
      #             # callback_url: 'YOUR_CALLBACK_URL'
      #           }
      #   }
      # - { name: 'github',
      #     app_id: 'YOUR_APP_ID',
      #     app_secret: 'YOUR_APP_SECRET',
      #     url: "https://github.com/",
      #     verify_ssl: true,
      #     args: { scope: 'user:email' } }
      # - { name: 'bitbucket',
      #     app_id: 'YOUR_APP_ID',
      #     app_secret: 'YOUR_APP_SECRET' }
      # - { name: 'gitlab',
      #     app_id: 'YOUR_APP_ID',
      #     app_secret: 'YOUR_APP_SECRET',
      #     args: { scope: 'api' } }
      # - { name: 'google_oauth2',
      #     app_id: 'YOUR_APP_ID',
      #     app_secret: 'YOUR_APP_SECRET',
      #     args: { access_type: 'offline', approval_prompt: '' } }
      # - { name: 'facebook',
      #     app_id: 'YOUR_APP_ID',
      #     app_secret: 'YOUR_APP_SECRET' }
      # - { name: 'twitter',
      #     app_id: 'YOUR_APP_ID',
      #     app_secret: 'YOUR_APP_SECRET' }
      #
      # - { name: 'saml',
      #     label: 'Our SAML Provider',
      #     groups_attribute: 'Groups',
      #     external_groups: ['Contractors', 'Freelancers'],
      #     args: {
      #             assertion_consumer_service_url: 'https://gitlab.example.com/users/auth/saml/callback',
      #             idp_cert_fingerprint: '43:51:43:a1:b5:fc:8b:b7:0a:3a:a9:b1:0f:66:73:a8',
      #             idp_sso_target_url: 'https://login.example.com/idp',
      #             issuer: 'https://gitlab.example.com',
      #             name_identifier_format: 'urn:oasis:names:tc:SAML:2.0:nameid-format:transient'
      #           } }
      #
      # - { name: 'crowd',
      #     args: {
      #       crowd_server_url: 'CROWD SERVER URL',
      #       application_name: 'YOUR_APP_NAME',
      #       application_password: 'YOUR_APP_PASSWORD' } }
      #
      # - { name: 'auth0',
      #     args: {
      #       client_id: 'YOUR_AUTH0_CLIENT_ID',
      #       client_secret: 'YOUR_AUTH0_CLIENT_SECRET',
      #       namespace: 'YOUR_AUTH0_DOMAIN' } }

    # SSO maximum session duration in seconds. Defaults to CAS default of 8 hours.
    {% if gitlab_omniauth_cas3_session_duration is defined %}
    cas3:
      session_duration: {{gitlab_omniauth_cas3_session_duration}}
    {% endif %}
    # cas3:
    #   session_duration: 28800
    {% endif %}
  # Shared file storage settings
  shared:
    {% if gitlab_shared_path is defined%}
    path: {{gitlab_shared_path}}
    {% endif %}
    # path: /mnt/gitlab # Default: shared

  # Gitaly settings
  gitaly:
    # Default Gitaly authentication token. Can be overriden per storage. Can
    # be left blank when Gitaly is running locally on a Unix socket, which
    # is the normal way to deploy Gitaly.
    token: {{gitlab_gitlay_token}}

  #
  # 4. Advanced settings
  # ==========================

  ## Repositories settings
  repositories:
    # Paths where repositories can be stored. Give the canonicalized absolute pathname.
    # IMPORTANT: None of the path components may be symlink, because
    # gitlab-shell invokes Dir.pwd inside the repository path and that results
    # real path not the symlink.
    storages:
      {{gitlab_repositories_storages | to_nice_yaml(indent=2) | indent(6,false)}} # You must have at least a `default` storage path.



  ## Backup settings
  backup:
    path: {{gitlab_backup_path}}   # Relative paths are relative to Rails.root (default: tmp/backups/)
    archive_permissions: {{gitlab_backup_archive_permissions}}
    keep_time: {{gitlab_backup_keep_time}}
    {% if gitlab_backup_pg_schema is defined %}
    pg_schema: {{gitlab_backup_pg_schema}}
    {% endif %}

    # archive_permissions: 0640 # Permissions for the resulting backup.tar file (default: 0600)
    # keep_time: 604800   # default: 0 (forever) (in seconds)
    # pg_schema: public     # default: nil, it means that all schemas will be backed up
    # upload:
    #   # Fog storage connection settings, see http://fog.io/storage/ .
    #   connection:
    #     provider: AWS
    #     region: eu-west-1
    #     aws_access_key_id: AKIAKIAKI
    #     aws_secret_access_key: 'secret123'
    #   # The remote 'directory' to store your backups. For S3, this would be the bucket name.
    #   remote_directory: 'my.s3.bucket'
    #   # Use multipart uploads when file size reaches 100MB, see
    #   #  http://docs.aws.amazon.com/AmazonS3/latest/dev/uploadobjusingmpu.html
    #   multipart_chunk_size: 104857600
    #   # Turns on AWS Server-Side Encryption with Amazon S3-Managed Keys for backups, this is optional
    #   # encryption: 'AES256'
    #   # Specifies Amazon S3 storage class to use for backups, this is optional
    #   # storage_class: 'STANDARD'

  ## GitLab Shell settings
  gitlab_shell:
    path: "{{gitlab_gitlab_shell_path}}"
    hooks_path: "{{gitlab_gitlab_shell_hooks_path}}"

    # File that contains the secret key for verifying access for gitlab-shell.
    # Default is '.gitlab_shell_secret' relative to Rails.root (i.e. root of the GitLab app).
    {% if gitlab_gitlab_shell_secret_file -%}
    secret_file: "{{gitlab_gitlab_shell_secret_file}}"
    {%- endif %}

    # Git over HTTP
    upload_pack: {{gitlab_gitlab_shell_upload_pack}}
    receive_pack: {{gitlab_gitlab_shell_receive_pack}}

    # Git import/fetch timeout
    git_timeout: {{gitlab_gitlab_shell_git_timeout}}

    # If you use non-standard ssh port you need to specify it
    ssh_port: {{gitlab_gitlab_shell_ssh_port}}

  workhorse:
    # File that contains the secret key for verifying access for gitlab-workhorse.
    # Default is '.gitlab_workhorse_secret' relative to Rails.root (i.e. root of the GitLab app).
    {% if gitlab_workhorse_secret_file is defined %}
    secret_file: {{gitlab_workhorse_secret_file}}
    {% endif %}
    # secret_file: /home/git/gitlab/.gitlab_workhorse_secret

  ## Git settings
  # CAUTION!
  # Use the default values unless you really know what you are doing
  git:
    bin_path: {{gitlab_git_bin_path}}
    # The next value is the maximum memory size grit can use
    # Given in number of bytes per git object (e.g. a commit)
    # This value can be increased if you have very large commits
    max_size: {{gitlab_git_max_size}} # 20.megabytes
    # Git timeout to read a commit, in seconds
    timeout: {{gitlab_git_timeout}}

  ## Webpack settings
  # If enabled, this will tell rails to serve frontend assets from the webpack-dev-server running
  # on a given port instead of serving directly from /assets/webpack. This is only indended for use
  # in development.
  webpack:
    dev_server:
      enabled: {{gitlab_webpack_dev_server_enabled}}
      host: localhost
      port: 3808

  ## Monitoring
  # Built in monitoring settings
  monitoring:
    # Time between sampling of unicorn socket metrics, in seconds
    {% if gitlab_monitoring_unicorn_sampler_interval is defined %}
    unicorn_sampler_interval: {{gitlab_monitoring_unicorn_sampler_interval}}
    {% endif %}
    # unicorn_sampler_interval: 10
    # IP whitelist to access monitoring endpoints
    ip_whitelist:
      {{gitlab_monitoring_ip_whitelists| to_nice_yaml}}

    # Sidekiq exporter is webserver built in to Sidekiq to expose Prometheus metrics
    sidekiq_exporter:
      enabled: {{gitlab_monitoring_sidekiq_exporter_enabled}}
      address: {{gitlab_monitoring_sidekiq_exporter_address}}
      port: {{gitlab_monitoring_sidekiq_exporter_port}}
    #  enabled: true
    #  address: localhost
    #  port: 3807

  #
  # 5. Extra customization
  # ==========================

  extra:
    ## Google analytics. Uncomment if you want it
    {% if gitlab_extra_google_analytics_id is defined %}
    google_analytics_id: {{gitlab_extra_google_analytics_id}}
    {% endif %}
    # google_analytics_id: '_your_tracking_id'

    ## Piwik analytics.
    {% if piwik_url is defined %}
    piwik_url: {{gitlab_extra_piwik_url}}
    piwik_site_id: {{gitlab_extra_site_id}}
    {% endif %}
    # piwik_url: '_your_piwik_url'
    # piwik_site_id: '_your_piwik_site_id'

  rack_attack:
    git_basic_auth:
      # Rack Attack IP banning enabled
      enabled: {{gitlab_rack_attack_git_basic_auth_enabled}}
      #
      # Whitelist requests from 127.0.0.1 for web proxies (NGINX/Apache) with incorrect headers
      ip_whitelist: {{gitlab_rack_attack_git_basic_auth_ip_whitelist}}
      #
      # Limit the number of Git HTTP authentication attempts per IP
      maxretry: {{gitlab_rack_attack_git_basic_auth_maxretry}}
      #
      # Reset the auth attempt counter per IP after 60 seconds
      findtime: {{gitlab_rack_attack_git_basic_auth_findtime}}
      #
      # Ban an IP for one hour (3600s) after too many auth attempts
      bantime: {{gitlab_rack_attack_git_basic_auth_bantime}}

development:
  <<: *base

test:
  <<: *base

staging:
  <<: *base
